body {
  font-family: "Open Sans", sans-serif;
  color: #444;
}

a {
  text-decoration: none;
  color: #4f92af;
}

a:hover {
  color: #5eb8df;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}

#header {
  height: 80px;
  padding: 20px 0;
  position: relative;
  z-index: 10;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#header .contact-link a {
  color: #fff;
  padding-right: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .contact-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/cover.jpg") top center;
  background-size: cover;
  position: relative;
  margin-top: -80px;
  z-index: 9;
}

#hero .hero-container {
  position: absolute;
  background: rgba(48, 53, 70, 0.5);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 30px;
  font-size: 24px;
}

#hero .countdown {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  line-height: 56px;
  margin: 30px 0 60px 0;
}

.notify-btn-group {
  display: flex;
  flex-direction: row;
}

.my-icon {
  color: #fff;
}

.notify-button {
  margin: 16px 16px 16px 16px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
}

.notify-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #fff;
  color: #4f92af;
}

.notify-button a {
  color: #ddd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .php-email-form input {
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  #hero .countdown {
    font-size: 32px;
    line-height: 38px;
  }
}

section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f7fafc;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.section-title p {
  margin-bottom: 0;
}

.contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

.contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #4f92af;
}

.contact .contact-info address,
.contact .contact-info p {
  margin-bottom: 0;
  color: #444;
}

.contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 300;
  color: #999;
}

.contact .contact-info a {
  color: #000;
}

.contact .contact-info a:hover {
  color: #4f92af;
}

.contact .contact-address,
.contact .contact-phone,
.contact .contact-email {
  margin-bottom: 20px;
}

#footer {
  background: #0d182d;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}
